[*.cs]

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1520: Use braces consistently
dotnet_diagnostic.SA1520.severity = none
